[submodule "backend/vendor/LAM"]
	path = backend/vendor/LAM
	url = https://github.com/affromero/LAM.git
[submodule "packages/splattie-widget"]
	path = packages/splattie-widget
	url = https://github.com/affromero/splattie-widget.git
